# 
# $Id: NAMESPACE,v 1.2 2013-05-10 07:08:22 steingod Exp $
#
useDynLib(mipolsat)
#exportPattern("^[^\\.]")
export(readfmcol,plotctval,fmcolcat)
export(compareAVHRRchains,compareAVHRRimages,readAVHRR,createAVHRRimage)
#export(gshhsmapdata)
